<%- include('../partials/clients/header') %>

  <style>
    /* Menghilangkan underline dari a */
    a {
      text-decoration: none;
    }

    .card-body img {
      width: 108px;
      height: 108px;
      object-fit: contain;
    }
  </style>

  <main class="d-flex justify-content-center align-items-center mt-5 position-relative">
    <div class="px-4 text-center" style="max-width: 400px; width: 100%">
      <div class="d-flex justify-content-center" style="margin-bottom: 0">
        <div class="px-4 py-2 text-dark" style="
          background-color: #f9d857;
          border-radius: 20px;
          font-size: 16px;
          color: #454545;
          font-family: 'Lexend', sans-serif;
          margin-bottom: -20px;
          position: relative;
          z-index: 2;
        ">
          Cara Bermain
        </div>
      </div>

      <div class="card mb-4 shadow-lg" style="border-radius: 30px; background-color: white; min-height: 120px">
        <div class="card-body mt-3">
          <div class="row">
            <div class="col-6 text-center">
              <img class="img-fluid" src="/assets/img/hindar.png" alt="" />
              <p>Tekan untuk menghindari rintangan</p>
            </div>
            <div class="col-6 text-center">
              <img class="img-fluid" src="/assets/img/panjat.png" alt="" />
              <p>Tekan untuk memanjat</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <img class="img-fluid" src="/assets/img/obstacle.gif" alt="" />
              <p>Hindari Rintangan</p>
            </div>
            <div class="col-6 text-center">
              <img class="img-fluid" src="/assets/img/coin.gif" alt="" />
              <p>Dapatkan Bonus Poin</p>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-wrapper">
        <a href="/game" class="custom-btn">Mulai Permainan</a>
      </div>
    </div>
  </main>

  <%- include('../partials/clients/footer') %>